mixin about()
    section.about#about
        .container
            h2.about-title О компании
            p.about-text Экспорт из всех областей Узбекистана, где выращиваются вкусные фрукты, овощи и ягоды. Поставки в торговые сети России, Германии, ОАЭ, Латвии, Республики Беларусь и Украины от компании, обладателя звания "Лучший экспортер свежих фруктов и овощей Узбекистана".
            .swiper.about-swiper 
                .swiper-wrapper 
                    .swiper-slide 
                        img(src="@img/about/1.png", alt="" draggable="false")
                    .swiper-slide 
                        img(src="@img/about/2.png", alt="" draggable="false")
                    .swiper-slide 
                        img(src="@img/about/3.png", alt="" draggable="false")
                    .swiper-slide 
                        img(src="@img/about/4.png", alt="" draggable="false")
                    .swiper-slide 
                        img(src="@img/about/5.png", alt="" draggable="false")