mixin advantages()
    section.advantages#advantages
        .container
            h2.advantages-title Преимущества
            .swiper.advantages-swiper 
                .swiper-wrapper 
                    .swiper-slide.advantages__card
                        .advantages__card-img
                            img(src="@img/advantages/1.webp", alt="" draggable="false")
                        h4.advantages__card-title Доставка товара
                        p.advantages__card-text Доставляем товар в различные регионы мира, рефрижераторными и тентованными фурами, морской, а также  авиа доставкой.
                    .swiper-slide.advantages__card
                        .advantages__card-img
                            img(src="@img/advantages/2.jpg", alt="" draggable="false")
                        h4.advantages__card-title Наилучшее качество, подтвержденное международными survey компаниями
                        p.advantages__card-text Отбор, сортировка, калибровка, precooling, cooling. Контроль всех этапов собственным персоналом компании, а не нанятыми третьими лицами !!! Предотгрузочная проверка международными сюрвейерскими организациями каждой партии !!!
                    .swiper-slide.advantages__card
                        .advantages__card-img
                            img(src="@img/advantages/1.webp", alt="" draggable="false")
                        h4.advantages__card-title Доставка товара
                        p.advantages__card-text Доставляем товар в различные регионы мира, рефрижераторными и тентованными фурами, морской, а также  авиа доставкой.
                    .swiper-slide.advantages__card
                        .advantages__card-img
                            img(src="@img/advantages/1.webp", alt="" draggable="false")
                        h4.advantages__card-title Доставка товара
                        p.advantages__card-text Доставляем товар в различные регионы мира, рефрижераторными и тентованными фурами, морской, а также  авиа доставкой.
                    .swiper-slide.advantages__card
                        .advantages__card-img
                            img(src="@img/advantages/1.webp", alt="" draggable="false")
                        h4.advantages__card-title Доставка товара
                        p.advantages__card-text Доставляем товар в различные регионы мира, рефрижераторными и тентованными фурами, морской, а также  авиа доставкой.
                .swiper-button
                    .swiper-button-next.advantages-button-next
                    .swiper-button-prev.advantages-button-prev