mixin advantages()
    section.advantages#advantages
        .container
            h2.advantages-title Преимущества
            .swiper.advantages-swiper 
                .swiper-wrapper 
                    .swiper-slide.advantages__card
                        .advantages__card-img
                            img(src="@img/advantages/1.webp", alt="" draggable="false")
                        h4.advantages__card-title Доставка товара
                        p.advantages__card-text Доставляем товар в различные регионы мира, рефрижераторными и тентованными фурами, морской, а также  авиа доставкой.
                    .swiper-slide.advantages__card
                        .advantages__card-img
                            img(src="@img/advantages/2.jpg", alt="" draggable="false")
                        h4.advantages__card-title Наилучшее качество, подтвержденное международными survey компаниями
                        p.advantages__card-text Отбор, сортировка, калибровка, precooling, cooling. Контроль всех этапов собственным персоналом компании, а не нанятыми третьими лицами !!! Предотгрузочная проверка международными сюрвейерскими организациями каждой партии !!!
                    .swiper-slide.advantages__card
                        .advantages__card-img
                            img(src="@img/advantages/3.png", alt="" draggable="false")
                        h4.advantages__card-title Лучший экспортер
                        p.advantages__card-text Обладатель почетного звания "Лучший экспортер фруктов и овощей Узбекистана" .
                    .swiper-slide.advantages__card
                        .advantages__card-img
                            img(src="@img/advantages/4.png", alt="" draggable="false")
                        h4.advantages__card-title Поставка свежих, сушеных и сублимированных продуктов от единого поставщика
                        p.advantages__card-text Более 60 ти позиций свежих, 30ти сушеных фруктов, овощей и зелени, а также сублимированных фруктов и ягод, выращенных в Узбекистане.
                    .swiper-slide.advantages__card
                        .advantages__card-img
                            img(src="@img/advantages/5.jpg", alt="" draggable="false")
                        h4.advantages__card-title Поставки в  федеральные и региональные торговые сети.
                        p.advantages__card-text Поставки в федеральные торговые сети на протяжении более 5 ти лет.  Среди наших партнеров Магнит, Перекресток, ОK, Лента, Пятерочка, Мираторг, SPAR и ряд региональных сетей,
                .swiper-button
                    .swiper-button-next.advantages-button-next
                    .swiper-button-prev.advantages-button-prev