mixin catalog()
    section.catalog#catalog
        .container
            .catalog__modal
                .catalog__modal-bg.catalog__modal-toggle
                .catalog__modal__inner
                    button(type="button").catalog__modal-close.catalog__modal-toggle x
                    .catalog__modal-img 
                        img(src="" alt="" draggable="false")
                    .catalog__modal-text 
                        h4.catalog__modal-title
                        p.catalog__modal-info
            h2.catalog-title Каталог
            .catalog__tabs
                button(type="button" value="1").catalog__tabs-btn.active Свежие фрукты, виноград, бахча
                button(type="button" value="2").catalog__tabs-btn Свежие овощи и зелень
                button(type="button" value="3").catalog__tabs-btn Сухофрукты
                button(type="button" value="4").catalog__tabs-btn Орехи
                button(type="button" value="5").catalog__tabs-btn Сублимированные продукты
            .catalog__wrapper.active#catalog1
                button(type="button").catalog__wrapper-card
                    .catalog__wrapper-img
                        img(src="@img/catalog/fruit1.jpg" alt="" draggable="false")
                    h4.catalog__wrapper-title Виноград
                    p Тайфи Хусайни Ризамат Мерседес Дамские пальчики
                button(type="button").catalog__wrapper-card
                    .catalog__wrapper-img
                        img(src="@img/catalog/fruit2.jpg" alt="" draggable="false")
                    h4.catalog__wrapper-title Слива
                    p 
                button(type="button").catalog__wrapper-card
                    .catalog__wrapper-img
                        img(src="@img/catalog/fruit3.jpg" alt="" draggable="false")
                    h4.catalog__wrapper-title Лимон
                    p Лимон желтый. <br><br> Сорта Мейер. <br><br> Ташкент.
                button(type="button").catalog__wrapper-card
                    .catalog__wrapper-img
                        img(src="@img/catalog/fruit4.png" alt="" draggable="false")
                    h4.catalog__wrapper-title Хурма
                    p Самая вкусная хурма на свете
                button(type="button").catalog__wrapper-card
                    .catalog__wrapper-img
                        img(src="@img/catalog/fruit5.jpg" alt="" draggable="false")
                    h4.catalog__wrapper-title Дыня
                    p 
                button(type="button").catalog__wrapper-card
                    .catalog__wrapper-img
                        img(src="@img/catalog/fruit6.jpg" alt="" draggable="false")
                    h4.catalog__wrapper-title Абрикос
                    p 
                button(type="button").catalog__wrapper-card
                    .catalog__wrapper-img
                        img(src="@img/catalog/fruit7.jpg" alt="" draggable="false")
                    h4.catalog__wrapper-title Гранат
                    p 
                button(type="button").catalog__wrapper-card
                    .catalog__wrapper-img
                        img(src="@img/catalog/fruit8.jpg" alt="" draggable="false")
                    h4.catalog__wrapper-title Нектарин
                    p 
                button(type="button").catalog__wrapper-card
                    .catalog__wrapper-img
                        img(src="@img/catalog/fruit9.jpg" alt="" draggable="false")
                    h4.catalog__wrapper-title Черешня
                    p 
                button(type="button").catalog__wrapper-card
                    .catalog__wrapper-img
                        img(src="@img/catalog/fruit10.jpg" alt="" draggable="false")
                    h4.catalog__wrapper-title Персик
                    p 
            .catalog__wrapper#catalog2
                button(type="button").catalog__wrapper-card
                    .catalog__wrapper-img
                        img(src="@img/catalog/vegetables1.jpg" alt="" draggable="false")
                    h4.catalog__wrapper-title Кабачки
                    p 
                button(type="button").catalog__wrapper-card
                    .catalog__wrapper-img
                        img(src="@img/catalog/vegetables2.jpg" alt="" draggable="false")
                    h4.catalog__wrapper-title Сельдерей черешковый
                    p Сельдерей черешковый.  Корень сельдерея
                button(type="button").catalog__wrapper-card
                    .catalog__wrapper-img
                        img(src="@img/catalog/vegetables3.jpg" alt="" draggable="false")
                    h4.catalog__wrapper-title Зелень
                    p Лук Укроп Петрушка Базилик Руккола
                button(type="button").catalog__wrapper-card
                    .catalog__wrapper-img
                        img(src="@img/catalog/vegetables4.jpg" alt="" draggable="false")
                    h4.catalog__wrapper-title Огурец
                    p 
                button(type="button").catalog__wrapper-card
                    .catalog__wrapper-img
                        img(src="@img/catalog/vegetables5.jpg" alt="" draggable="false")
                    h4.catalog__wrapper-title Чеснок
                    p 
                button(type="button").catalog__wrapper-card
                    .catalog__wrapper-img
                        img(src="@img/catalog/vegetables6.jpg" alt="" draggable="false")
                    h4.catalog__wrapper-title Капуста белокочанная
                    p 
                button(type="button").catalog__wrapper-card
                    .catalog__wrapper-img
                        img(src="@img/catalog/vegetables7.jpg" alt="" draggable="false")
                    h4.catalog__wrapper-title Морковь
                    p 
                button(type="button").catalog__wrapper-card
                    .catalog__wrapper-img
                        img(src="@img/catalog/vegetables8.png" alt="" draggable="false")
                    h4.catalog__wrapper-title Свёкла
                    p 
                button(type="button").catalog__wrapper-card
                    .catalog__wrapper-img
                        img(src="@img/catalog/vegetables9.jpg" alt="" draggable="false")
                    h4.catalog__wrapper-title Лук Репчатый
                    p 
                button(type="button").catalog__wrapper-card
                    .catalog__wrapper-img
                        img(src="@img/catalog/vegetables10.png" alt="" draggable="false")
                    h4.catalog__wrapper-title Томат красный
                    p Томат красный. Сорта Дафниc, Муалла, Азра, 1955. Пластиковый ящик (6-7 кг). Минимальный объем 18 тонн
                button(type="button").catalog__wrapper-card
                    .catalog__wrapper-img
                        img(src="@img/catalog/vegetables11.jpg" alt="" draggable="false")
                    h4.catalog__wrapper-title Перец сладкий
                    p 
                button(type="button").catalog__wrapper-card
                    .catalog__wrapper-img
                        img(src="@img/catalog/vegetables12.jpg" alt="" draggable="false")
                    h4.catalog__wrapper-title Огурец
                    p 
                button(type="button").catalog__wrapper-card
                    .catalog__wrapper-img
                        img(src="@img/catalog/vegetables13.jpg" alt="" draggable="false")
                    h4.catalog__wrapper-title Капуста цветная
                    p 
                button(type="button").catalog__wrapper-card
                    .catalog__wrapper-img
                        img(src="@img/catalog/vegetables14.jpg" alt="" draggable="false")
                    h4.catalog__wrapper-title Базилик
                    p 
            .catalog__wrapper#catalog3
                button(type="button").catalog__wrapper-card
                    .catalog__wrapper-img
                        img(src="@img/catalog/dried1.jpg" alt="" draggable="false")
                    h4.catalog__wrapper-title Финики
                    p 
                button(type="button").catalog__wrapper-card
                    .catalog__wrapper-img
                        img(src="@img/catalog/dried2.jpg" alt="" draggable="false")
                    h4.catalog__wrapper-title Изюм Голден
                    p 
                button(type="button").catalog__wrapper-card
                    .catalog__wrapper-img
                        img(src="@img/catalog/dried3.jpg" alt="" draggable="false")
                    h4.catalog__wrapper-title Чернослив
                    p 
                button(type="button").catalog__wrapper-card
                    .catalog__wrapper-img
                        img(src="@img/catalog/dried4.jpg" alt="" draggable="false")
                    h4.catalog__wrapper-title Курага
                    p 
                button(type="button").catalog__wrapper-card
                    .catalog__wrapper-img
                        img(src="@img/catalog/dried5.jpg" alt="" draggable="false")
                    h4.catalog__wrapper-title Сушеная хурма
                    p 
                button(type="button").catalog__wrapper-card
                    .catalog__wrapper-img
                        img(src="@img/catalog/dried6.jpg" alt="" draggable="false")
                    h4.catalog__wrapper-title Сушенный инжир
                    p Сушенный инжир
                button(type="button").catalog__wrapper-card
                    .catalog__wrapper-img
                        img(src="@img/catalog/dried7.jpg" alt="" draggable="false")
                    h4.catalog__wrapper-title Изюм кишмиш
                    p Изюм кишмиш
                button(type="button").catalog__wrapper-card
                    .catalog__wrapper-img
                        img(src="@img/catalog/dried8.jpg" alt="" draggable="false")
                    h4.catalog__wrapper-title Компотная смесь
                    p 
                button(type="button").catalog__wrapper-card
                    .catalog__wrapper-img
                        img(src="@img/catalog/dried9.webp" alt="" draggable="false")
                    h4.catalog__wrapper-title Сушеное яблокo
                    p 
            .catalog__wrapper#catalog4
                button(type="button").catalog__wrapper-card
                    .catalog__wrapper-img
                        img(src="@img/catalog/nut1.jpg" alt="" draggable="false")
                    h4.catalog__wrapper-title Грецкий орех
                    p 
                button(type="button").catalog__wrapper-card
                    .catalog__wrapper-img
                        img(src="@img/catalog/nut2.jpg" alt="" draggable="false")
                    h4.catalog__wrapper-title Фисташки
                    p 
                button(type="button").catalog__wrapper-card
                    .catalog__wrapper-img
                        img(src="@img/catalog/nut3.jpg" alt="" draggable="false")
                    h4.catalog__wrapper-title Арахис
                    p Арахис в скорлупе Арахис в шелухе Арахис жареный Арахис бланшированный Сплит
                button(type="button").catalog__wrapper-card
                    .catalog__wrapper-img
                        img(src="@img/catalog/nut4.jpg" alt="" draggable="false")
                    h4.catalog__wrapper-title Миндаль
                    p 
                button(type="button").catalog__wrapper-card
                    .catalog__wrapper-img
                        img(src="@img/catalog/nut5.jpg" alt="" draggable="false")
                    h4.catalog__wrapper-title Ядра абрикосовых косточек
                    p 
            .catalog__wrapper#catalog5
                button(type="button").catalog__wrapper-card
                    .catalog__wrapper-img
                        img(src="@img/catalog/sublimated1.jpg" alt="" draggable="false")
                    h4.catalog__wrapper-title Яблоко
                    p 
                button(type="button").catalog__wrapper-card
                    .catalog__wrapper-img
                        img(src="@img/catalog/sublimated2.png" alt="" draggable="false")
                    h4.catalog__wrapper-title Дыня
                    p 
                button(type="button").catalog__wrapper-card
                    .catalog__wrapper-img
                        img(src="@img/catalog/sublimated3.png" alt="" draggable="false")
                    h4.catalog__wrapper-title Виноград
                    p 
                button(type="button").catalog__wrapper-card
                    .catalog__wrapper-img
                        img(src="@img/catalog/sublimated4.jpg" alt="" draggable="false")
                    h4.catalog__wrapper-title Малина
                    p 
                button(type="button").catalog__wrapper-card
                    .catalog__wrapper-img
                        img(src="@img/catalog/sublimated5.jpg" alt="" draggable="false")
                    h4.catalog__wrapper-title Абрикос
                    p 
                button(type="button").catalog__wrapper-card
                    .catalog__wrapper-img
                        img(src="@img/catalog/sublimated6.jpg" alt="" draggable="false")
                    h4.catalog__wrapper-title Персик
                    p 
                button(type="button").catalog__wrapper-card
                    .catalog__wrapper-img
                        img(src="@img/catalog/sublimated7.jpg" alt="" draggable="false")
                    h4.catalog__wrapper-title Слива
                    p 
                button(type="button").catalog__wrapper-card
                    .catalog__wrapper-img
                        img(src="@img/catalog/sublimated8.jpg" alt="" draggable="false")
                    h4.catalog__wrapper-title Клубника
                    p 