mixin catalog()
    section.catalog
        .container
            h2.catalog-title Каталог
            .catalog__tabs
                button(type="button" value="1").catalog__tabs-btn.active Свежие фрукты, виноград, бахча
                button(type="button" value="2").catalog__tabs-btn Свежие овощи и зелень
                button(type="button" value="3").catalog__tabs-btn Сухофрукты
                button(type="button" value="4").catalog__tabs-btn Орехи
                button(type="button" value="5").catalog__tabs-btn Сублимированные продукты
            .catalog__wrapper.active#catalog1
                a(href="#").catalog__wrapper-card
                    .catalog__wrapper-img
                        img(src="@img/catalog/1.jpg", alt="" draggable="false")
                    h4.catalog__wrapper-title Кабачки
                a(href="#").catalog__wrapper-card
                    .catalog__wrapper-img
                        img(src="@img/catalog/1.jpg", alt="" draggable="false")
                    h4.catalog__wrapper-title Кабачки
                a(href="#").catalog__wrapper-card
                    .catalog__wrapper-img
                        img(src="@img/catalog/1.jpg", alt="" draggable="false")
                    h4.catalog__wrapper-title Кабачки
                a(href="#").catalog__wrapper-card
                    .catalog__wrapper-img
                        img(src="@img/catalog/1.jpg", alt="" draggable="false")
                    h4.catalog__wrapper-title Кабачки
                a(href="#").catalog__wrapper-card
                    .catalog__wrapper-img
                        img(src="@img/catalog/1.jpg", alt="" draggable="false")
                    h4.catalog__wrapper-title Кабачки
                a(href="#").catalog__wrapper-card
                    .catalog__wrapper-img
                        img(src="@img/catalog/1.jpg", alt="" draggable="false")
                    h4.catalog__wrapper-title Кабачки
                a(href="#").catalog__wrapper-card
                    .catalog__wrapper-img
                        img(src="@img/catalog/1.jpg", alt="" draggable="false")
                    h4.catalog__wrapper-title Кабачки
                a(href="#").catalog__wrapper-card
                    .catalog__wrapper-img
                        img(src="@img/catalog/1.jpg", alt="" draggable="false")
                    h4.catalog__wrapper-title Кабачки
                a(href="#").catalog__wrapper-card
                    .catalog__wrapper-img
                        img(src="@img/catalog/1.jpg", alt="" draggable="false")
                    h4.catalog__wrapper-title Кабачки
                a(href="#").catalog__wrapper-card
                    .catalog__wrapper-img
                        img(src="@img/catalog/1.jpg", alt="" draggable="false")
                    h4.catalog__wrapper-title Кабачки
                a(href="#").catalog__wrapper-card
                    .catalog__wrapper-img
                        img(src="@img/catalog/1.jpg", alt="" draggable="false")
                    h4.catalog__wrapper-title Кабачки
            .catalog__wrapper#catalog2
                a(href="#").catalog__wrapper-card
                    .catalog__wrapper-img
                        img(src="@img/catalog/1.jpg", alt="" draggable="false")
                    h4.catalog__wrapper-title Кабачки
                a(href="#").catalog__wrapper-card
                    .catalog__wrapper-img
                        img(src="@img/catalog/1.jpg", alt="" draggable="false")
                    h4.catalog__wrapper-title Кабачки
                a(href="#").catalog__wrapper-card
                    .catalog__wrapper-img
                        img(src="@img/catalog/1.jpg", alt="" draggable="false")
                    h4.catalog__wrapper-title Кабачки
                a(href="#").catalog__wrapper-card
                    .catalog__wrapper-img
                        img(src="@img/catalog/1.jpg", alt="" draggable="false")
                    h4.catalog__wrapper-title Кабачки
            .catalog__wrapper#catalog3
                a(href="#").catalog__wrapper-card
                    .catalog__wrapper-img
                        img(src="@img/catalog/1.jpg", alt="" draggable="false")
                    h4.catalog__wrapper-title Кабачки
                a(href="#").catalog__wrapper-card
                    .catalog__wrapper-img
                        img(src="@img/catalog/1.jpg", alt="" draggable="false")
                    h4.catalog__wrapper-title Кабачки
                a(href="#").catalog__wrapper-card
                    .catalog__wrapper-img
                        img(src="@img/catalog/1.jpg", alt="" draggable="false")
                    h4.catalog__wrapper-title Кабачки
                a(href="#").catalog__wrapper-card
                    .catalog__wrapper-img
                        img(src="@img/catalog/1.jpg", alt="" draggable="false")
                    h4.catalog__wrapper-title Кабачки
            .catalog__wrapper#catalog4
                a(href="#").catalog__wrapper-card
                    .catalog__wrapper-img
                        img(src="@img/catalog/1.jpg", alt="" draggable="false")
                    h4.catalog__wrapper-title Кабачки
                a(href="#").catalog__wrapper-card
                    .catalog__wrapper-img
                        img(src="@img/catalog/1.jpg", alt="" draggable="false")
                    h4.catalog__wrapper-title Кабачки
                a(href="#").catalog__wrapper-card
                    .catalog__wrapper-img
                        img(src="@img/catalog/1.jpg", alt="" draggable="false")
                    h4.catalog__wrapper-title Кабачки
                a(href="#").catalog__wrapper-card
                    .catalog__wrapper-img
                        img(src="@img/catalog/1.jpg", alt="" draggable="false")
                    h4.catalog__wrapper-title Кабачки
            .catalog__wrapper#catalog5
                a(href="#").catalog__wrapper-card
                    .catalog__wrapper-img
                        img(src="@img/catalog/1.jpg", alt="" draggable="false")
                    h4.catalog__wrapper-title Кабачки
                a(href="#").catalog__wrapper-card
                    .catalog__wrapper-img
                        img(src="@img/catalog/1.jpg", alt="" draggable="false")
                    h4.catalog__wrapper-title Кабачки
                a(href="#").catalog__wrapper-card
                    .catalog__wrapper-img
                        img(src="@img/catalog/1.jpg", alt="" draggable="false")
                    h4.catalog__wrapper-title Кабачки
                a(href="#").catalog__wrapper-card
                    .catalog__wrapper-img
                        img(src="@img/catalog/1.jpg", alt="" draggable="false")
                    h4.catalog__wrapper-title Кабачки