mixin certificates()
    section.certificates
        .container
            h2.certificates-title Сертификаты
            .swiper.certificates-swiper 
                .swiper-wrapper 
                    .swiper-slide.certificates__card
                        .certificates__card-img
                            img(src="@img/certificates/1.jpg", alt="" draggable="false")
                    .swiper-slide.certificates__card
                        .certificates__card-img
                            img(src="@img/certificates/2.png", alt="" draggable="false")
                    .swiper-slide.certificates__card
                        .certificates__card-img
                            img(src="@img/certificates/1.jpg", alt="" draggable="false")
                    .swiper-slide.certificates__card
                        .certificates__card-img
                            img(src="@img/certificates/2.png", alt="" draggable="false")
                    .swiper-slide.certificates__card
                        .certificates__card-img
                            img(src="@img/certificates/1.jpg", alt="" draggable="false")
                    .swiper-slide.certificates__card
                        .certificates__card-img
                            img(src="@img/certificates/2.png", alt="" draggable="false")
                    .swiper-slide.certificates__card
                        .certificates__card-img
                            img(src="@img/certificates/1.jpg", alt="" draggable="false")
                .swiper-button
                    .swiper-button-next.certificates-button-next
                    .swiper-button-prev.certificates-button-prev