mixin certificates()
    section.certificates
        .container
            h2.certificates-title Сертификаты
            .certificates__modal
                .certificates__modal-bg.certificates__modal-toggle
                .certificates__modal__inner
                    .certificates__modal-img 
                        img(src="" alt="" draggable="false")
            .swiper.certificates-swiper 
                .swiper-wrapper 
                    .swiper-slide.certificates__card
                        .certificates__card-img
                            img(src="@img/certificates/1.jpg", alt="" draggable="false")
                    .swiper-slide.certificates__card
                        .certificates__card-img
                            img(src="@img/certificates/2.png", alt="" draggable="false")
                    .swiper-slide.certificates__card
                        .certificates__card-img
                            img(src="@img/certificates/3.png", alt="" draggable="false")
                    .swiper-slide.certificates__card
                        .certificates__card-img
                            img(src="@img/certificates/4.jpg", alt="" draggable="false")
                    .swiper-slide.certificates__card
                        .certificates__card-img
                            img(src="@img/certificates/5.jpg", alt="" draggable="false")
                    .swiper-slide.certificates__card
                        .certificates__card-img
                            img(src="@img/certificates/6.jpg", alt="" draggable="false")
                    .swiper-slide.certificates__card
                        .certificates__card-img
                            img(src="@img/certificates/7.png", alt="" draggable="false")
                    .swiper-slide.certificates__card
                        .certificates__card-img
                            img(src="@img/certificates/8.png", alt="" draggable="false")
                    .swiper-slide.certificates__card
                        .certificates__card-img
                            img(src="@img/certificates/9.png", alt="" draggable="false")
                    .swiper-slide.certificates__card
                        .certificates__card-img
                            img(src="@img/certificates/10.png", alt="" draggable="false")
                .swiper-button
                    .swiper-button-prev.certificates-button-prev
                    .swiper-button-next.certificates-button-next