mixin footer()
    footer.footer   
        .container 
            .footer__left
                img(src="@img/logo2.svg", alt="" draggable="false")
                p.footer-copyright Copyright © 2017 - 2023 ООО "EXIM AGRO GROUP"
            .footer__right
                .footer__socials
                    a(href="#").footer__socials-link
                        img(src="@img/icons/instagram.png", alt="" draggable="false")
                    a(href="#").footer__socials-link
                        img(src="@img/icons/telegram.png", alt="" draggable="false")
                    a(href="#").footer__socials-link
                        img(src="@img/icons/facebook.png", alt="" draggable="false")
                    a(href="#").footer__socials-link
                        img(src="@img/icons/whatsapp.png", alt="" draggable="false")
                    a(href="#").footer__socials-link
                        img(src="@img/icons/vk.svg", alt="" draggable="false")
                    a(href="#").footer__socials-link
                        img(src="@img/icons/linkedin.png", alt="" draggable="false")
                .footer__contacts 
                    ul 
                        li  
                            img(src="@img/icons/phone.svg", alt="")
                            a(href="tel:+998909881122") +998909881122
                            a(href="tel:+998909881122") +998909881122
                        li  
                            img(src="@img/icons/mail.svg", alt="")
                            a(href="mailto:info@eximagro.uz") info@eximagro.uz
                        li  
                            img(src="@img/icons/location.svg", alt="")
                            p Республика Узбекистан, Ферганская область, Кувинский район, ул. Каттакишлок, 167
