mixin gallery()
    section.gallery
        .container
            h2.gallery-title Галерея
            .swiper.gallery-swiper 
                .swiper-wrapper 
                    .swiper-slide.gallery__card
                        .gallery__card-img
                            img(src="@img/gallery/1.jpg", alt="" draggable="false")
                    .swiper-slide.gallery__card
                        .gallery__card-img
                            img(src="@img/gallery/2.jpg", alt="" draggable="false")
                    .swiper-slide.gallery__card
                        .gallery__card-img
                            img(src="@img/gallery/3.jpg", alt="" draggable="false")
                    .swiper-slide.gallery__card
                        .gallery__card-img
                            img(src="@img/gallery/4.jpg", alt="" draggable="false")
                    .swiper-slide.gallery__card
                        .gallery__card-img
                            img(src="@img/gallery/1.jpg", alt="" draggable="false")
                .swiper-button-next
                    <svg width="38" height="21" viewBox="0 0 38 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M36.845 9.82164C37.1575 10.1342 37.333 10.558 37.333 11C37.333 11.4419 37.1575 11.8658 36.845 12.1783L28.5117 20.5116C28.1974 20.8152 27.7764 20.9832 27.3394 20.9794C26.9024 20.9756 26.4843 20.8003 26.1753 20.4913C25.8663 20.1823 25.691 19.7643 25.6872 19.3273C25.6834 18.8903 25.8514 18.4693 26.155 18.155L31.6434 12.6666L2.33337 12.6666C1.89134 12.6666 1.46741 12.491 1.15485 12.1785C0.842294 11.8659 0.666699 11.442 0.666699 11C0.666699 10.5579 0.842294 10.134 1.15485 9.82146C1.46741 9.5089 1.89134 9.3333 2.33337 9.3333L31.6434 9.3333L26.155 3.84497C25.9958 3.69123 25.8689 3.50732 25.7815 3.30398C25.6942 3.10064 25.6482 2.88194 25.6463 2.66064C25.6444 2.43934 25.6865 2.21988 25.7703 2.01505C25.8541 1.81022 25.9779 1.62413 26.1344 1.46765C26.2909 1.31116 26.4769 1.1874 26.6818 1.1036C26.8866 1.0198 27.1061 0.97763 27.3274 0.979552C27.5487 0.981475 27.7674 1.02745 27.9707 1.1148C28.174 1.20215 28.358 1.32912 28.5117 1.4883L36.845 9.82164Z" fill="white"/>
                    </svg>
                .swiper-button-prev
                    <svg width="38" height="21" viewBox="0 0 38 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1.155 11.1784C0.842548 10.8658 0.667023 10.442 0.667023 10C0.667023 9.55809 0.842548 9.13424 1.155 8.8217L9.48833 0.488362C9.80267 0.184765 10.2237 0.0167735 10.6607 0.0205708C11.0977 0.0243682 11.5157 0.19965 11.8247 0.508664C12.1337 0.817677 12.309 1.2357 12.3128 1.67269C12.3166 2.10969 12.1486 2.53069 11.845 2.84503L6.35667 8.33336H35.6667C36.1087 8.33336 36.5326 8.50896 36.8452 8.82152C37.1577 9.13408 37.3333 9.558 37.3333 10C37.3333 10.4421 37.1577 10.866 36.8452 11.1785C36.5326 11.4911 36.1087 11.6667 35.6667 11.6667H6.35667L11.845 17.155C12.0042 17.3088 12.1312 17.4927 12.2185 17.696C12.3059 17.8994 12.3518 18.1181 12.3538 18.3394C12.3557 18.5607 12.3135 18.7801 12.2297 18.985C12.1459 19.1898 12.0221 19.3759 11.8657 19.5324C11.7092 19.6888 11.5231 19.8126 11.3183 19.8964C11.1134 19.9802 10.894 20.0224 10.6727 20.0204C10.4514 20.0185 10.2327 19.9725 10.0293 19.8852C9.82599 19.7978 9.64208 19.6709 9.48833 19.5117L1.155 11.1784Z" fill="white"/>
                    </svg>