mixin header()
    header.header 
        .header__nav.container 
            a(href="index.html").header__nav-logo 
                img(src="@img/logo.png" alt="" draggable="false")
            ul.header__nav-links
                li
                    a(href="index.html#about") О компании
                li
                    a(href="index.html#catalog") Каталог
                li
                    a(href="index.html#advantages") Преимущества
            .header__nav-side 
                a(href="tel:+998909881122").header__nav-number 
                    img(src="@img/phone.svg" alt="" draggable="false")
                    p +998909881122
                a(href="#").header__nav-social 
                    img(src="@img/icons/whatsapp.png" alt="" draggable="false")
                .header__nav__lang 
                    button(type="button").header__nav__lang-btn en
                    button(type="button").header__nav__lang-btn.active ru
            button(type="button").header-burger.menu-toggle
                span 
                span 
                span
    .menu
        .menu-bg.menu-toggle
        .menu__inner
            a(href="index.html").menu-logo 
                img(src="@img/logo.png" alt="" draggable="false")
            ul.menu-links
                li
                    a(href="index.html#about").menu-toggle О компании
                li
                    a(href="index.html#catalog").menu-toggle Каталог
                li
                    a(href="index.html#advantages").menu-toggle Преимущества
            .menu-side 
                a(href="tel:+998909881122").menu-number 
                    img(src="@img/phone.svg" alt="" draggable="false")
                    p +998909881122
                .menu__lang 
                    button(type="button").menu__lang-btn en
                    button(type="button").menu__lang-btn.active ru
            button(type="button").menu-burger.menu-toggle
                span 
                span