mixin intro()
    section.intro 
        .intro-bg
            img(src="@img/intro-bg.png", alt="" draggable="false")  
        .container
            h1.intro-title Экспорт свежих, сушеных и сублимированных фруктов, овощей и ягод.
            p.intro-subtitle Поставки от обладателя звания "Самый лучший экспортер фруктов и овощей Узбекистана”
            a(href="#feedback").intro-btn Оставить заявку 
