mixin new()
    section.new 
        .container
            ul.new-path
                li 
                    a(href="index.html") Главная
                li 
                    a(href="news.html") Новости
                li 
                    p Компания EXIM AGRO приняла участие в выставке WordFoodMoscow 2022
            h3.new-title Компания EXIM AGRO приняла участие в выставке WordFoodMoscow 2022
            p.new-date 2022.12.27
            img(src="@img/news/1.jpg", alt="")
            p.new-text Компания Eximagro приняла участие в 30 международной выставке WordFoodMoscow 2022