mixin news()
    section.news 
        .container  
            h2.news-title Новости
            .swiper.news-swiper 
                .swiper-wrapper 
                    .swiper-slide.news__card
                        .news__card-img
                            img(src="@img/news/1.jpg", alt="" draggable="false")
                        p.news__card-date 2022.12.27
                        h4.news__card-title Компания EXIM AGRO приняла участие в выставке WordFoodMoscow 2022
                        a(href="new.html").news__card-next Подробнее
                    .swiper-slide.news__card
                        .news__card-img
                            img(src="@img/news/1.jpg", alt="" draggable="false")
                        p.news__card-date 2022.12.27
                        h4.news__card-title Компания EXIM AGRO приняла участие в выставке WordFoodMoscow 2022
                        a(href="new.html").news__card-next Подробнее
                    .swiper-slide.news__card
                        .news__card-img
                            img(src="@img/news/1.jpg", alt="" draggable="false")
                        p.news__card-date 2022.12.27
                        h4.news__card-title Компания EXIM AGRO приняла участие в выставке WordFoodMoscow 2022
                        a(href="new.html").news__card-next Подробнее
                    .swiper-slide.news__card
                        .news__card-img
                            img(src="@img/news/1.jpg", alt="" draggable="false")
                        p.news__card-date 2022.12.27
                        h4.news__card-title Компания EXIM AGRO приняла участие в выставке WordFoodMoscow 2022
                        a(href="new.html").news__card-next Подробнее
            a(href="news.html").news-btn Все новости