mixin newslist()
    section.newslist 
        .container  
            h2.newslist-title Новости
            .newslist-container
                .newslist__card
                    .newslist__card-img
                        img(src="@img/news/1.jpg", alt="" draggable="false")
                    p.newslist__card-date 2022.12.27
                    h4.newslist__card-title Компания EXIM AGRO приняла участие в выставке WordFoodMoscow 2022
                    a(href="new.html").newslist__card-next Подробнее
                .newslist__card
                    .newslist__card-img
                        img(src="@img/news/1.jpg", alt="" draggable="false")
                    p.newslist__card-date 2022.12.27
                    h4.newslist__card-title Компания EXIM AGRO приняла участие в выставке WordFoodMoscow 2022
                    a(href="new.html").newslist__card-next Подробнее
                .newslist__card
                    .newslist__card-img
                        img(src="@img/news/1.jpg", alt="" draggable="false")
                    p.newslist__card-date 2022.12.27
                    h4.newslist__card-title Компания EXIM AGRO приняла участие в выставке WordFoodMoscow 2022
                    a(href="new.html").newslist__card-next Подробнее
                .newslist__card
                    .newslist__card-img
                        img(src="@img/news/1.jpg", alt="" draggable="false")
                    p.newslist__card-date 2022.12.27
                    h4.newslist__card-title Компания EXIM AGRO приняла участие в выставке WordFoodMoscow 2022
                    a(href="new.html").newslist__card-next Подробнее
                .newslist__card
                    .newslist__card-img
                        img(src="@img/news/1.jpg", alt="" draggable="false")
                    p.newslist__card-date 2022.12.27
                    h4.newslist__card-title Компания EXIM AGRO приняла участие в выставке WordFoodMoscow 2022
                    a(href="new.html").newslist__card-next Подробнее
                .newslist__card
                    .newslist__card-img
                        img(src="@img/news/1.jpg", alt="" draggable="false")
                    p.newslist__card-date 2022.12.27
                    h4.newslist__card-title Компания EXIM AGRO приняла участие в выставке WordFoodMoscow 2022
                    a(href="new.html").newslist__card-next Подробнее